@use "sass:color";
@use '@/styles/constants';


  .filterContainer {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    font-size: constants.$font-size-normal;
    font-family: constants.$font-family-normal;
    row-gap: 10px;
  }

  .locationContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
  }

  .location-selection {
    margin-top: 20px;
  }

  .SightingsFilterContainer {
        border: 2px solid constants.$background-navigation; 
        border-radius: constants.$border-radius; 
        padding: 10px; 
    }


 // Mobile styling
@media (max-width: constants.$tablet-min-width) {
    .filterContainer {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        width: 100%;
      }
    
      .locationContainer {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        width: 100%;
      }
}
