@use "sass:color";
@use "@/styles/constants";

// Desktop styling
.landing-page-text{
    text-align: center;
    font-size: constants.$font-size-normal;
    font-family: constants.$font-family-normal;
    max-width: 700px;
    margin: auto;
    display: block;
}
.intro-text{
    line-height: 1.5;
}
.list-of-links{
    list-style-type: none;
}

// Mobile styling
