@use '@/styles/constants';

.admin {
    &__approvals-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: constants.$padding-default;
    }

    &__approve {
        @include constants.button-approve;
    }

    &__reject {
        @include constants.button-deny;
    }

    &__error{
        width: 100%;
        color: constants.$text-error;
    }
}
