@use "sass:color";
@use '@/styles/constants';

.navigation-bar {
    background-color: constants.$background-navigation;
    width: 100%;

    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    &__item {
        padding: constants.$padding-small constants.$padding-default;
        margin: 12px;
        border-radius: calc(constants.$border-radius / 2);
        color: constants.$text-primary-navigation;
        transition: background-color 0.3s ease;

        &:hover {
            background: linear-gradient(to right, color.adjust(constants.$background-navigation, $lightness: -5%), color.adjust(constants.$background-navigation, $lightness: -10%));
            color: constants.$text-primary-navigation;
        }

        &--active {
            background: linear-gradient(to right, color.adjust(constants.$background-navigation, $lightness: 20%), color.adjust(constants.$background-navigation, $lightness: 15%));

            &:hover {
                background: linear-gradient(to right, color.adjust(constants.$background-navigation, $lightness: 20%), color.adjust(constants.$background-navigation, $lightness: 15%));
            }
        }
    }

    &__mobile-menu {
        display: flex;
        flex-direction: column;
        background-color: color.adjust(constants.$background-navigation, $lightness: 50%)
    
    }
}

@media (max-width: 760px){
    
}