@use '@/styles/constants';

.navigation-bar {
    background-color: constants.$background-navigation;
    width: 100%;

    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    &__item {
        padding: constants.$padding-small constants.$padding-default;
        margin: 12px;
        border-radius: calc(constants.$border-radius / 2);
        color: constants.$text-primary-navigation;
        transition: background-color 0.3s ease;

        &:hover {
            background: linear-gradient(to right, darken(constants.$background-navigation, 5%), darken(constants.$background-navigation, 10%));
            color: constants.$text-primary-navigation;
        }

        &--active {
            background: linear-gradient(to right, lighten(constants.$background-navigation, 20%), lighten(constants.$background-navigation, 15%));

            &:hover {
                background: linear-gradient(to right, lighten(constants.$background-navigation, 20%), lighten(constants.$background-navigation, 15%));
            }
        }
    }
}