/* Mobile */
@media only screen and (min-width: 320px) {
    .temp-location-container {
        max-width: 100%;
    }
  
  }
  /*tablet*/
  @media only screen and (min-width: 768px) {
    .temp-location-container {
        min-width: 600px;
        max-width: 100%;
    }    
  }
  
  /* Desktops */
  @media only screen and (min-width: 1024px) {
    .temp-location-container{
        min-width: 700px;
        max-width: 90%;
    }
  }

.temp-location-container{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  
}
