@use '@/styles/constants';

/* Mobile */
@media only screen and (min-width: constants.$mobile-min-width) {
  .location-picker {
      max-width: 300px;
  }
}

/*tablet*/
@media only screen and (min-width: constants.$tablet-min-width) {
  .location-picker {
      max-width: 600px;  
  }    
}

/* Desktops */
@media only screen and (min-width: constants.$desktop-min-width) {
  .location-picker{
      max-width: 700px;
  }
}

.location-picker {
    height: 30vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;   
}

.ol-popup {
    position: absolute;
    background-color: constants.$background-main;
    box-shadow: 0 1px 4px constants.$shadow-main;
    border-radius: calc(constants.$border-radius / 2);
    border: 1px solid constants.$border-color-main;
    bottom: 12px;
    left: -50px;
    min-width: 200px;
    margin: constants.$margin-small;
  }

  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: constants.$background-main;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: constants.$border-color-main;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
   
  p {
    font-size: constants.$font-size-normal;
    line-height: 1em;
    margin: constants.$margin-small;
    font-family: constants.$font-family-normal;
  }

  code {
    font-size: constants.$font-size-normal;
    line-height: 1em;
    margin: constants.$margin-small;
    font-family: constants.$font-family-normal;
    display: block;
  }
